.dice {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  
  margin:auto;
  margin-top:10px;
}

.dice1 {
  background-image: url("./images/dice-1.png");
}

.dice2 {
  background-image: url("./images/dice-2.png");
}

.dice3 {
  background-image: url("./images/dice-3.png");
}

.dice4 {
  background-image: url("./images/dice-4.png");
}

.dice5 {
  background-image: url("./images/dice-5.png");
}

.dice6 {
  background-image: url("./images/dice-6.png");
}